from __future__ import annotations
from typing import List, Literal
from pydantic_settings import BaseSettings, SettingsConfigDict

class Settings(BaseSettings):
    model_config = SettingsConfigDict(env_file=".env", env_file_encoding="utf-8", case_sensitive=False)
    APP_NAME: str = "${project_name}"
    ENV: Literal["dev", "staging", "prod", "test"] = "dev"
    API_PREFIX: str = "${api_prefix}"
    VERSION: str = "0.1.0"
    LOG_LEVEL: str = "INFO"
    CORS_ORIGINS: List[str] = []
    DATABASE_URL: str
    DB_ECHO: bool = False

settings = Settings()